<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fei_ke.chiphellclient"
    android:versionCode="5"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 自动更新,缓存需要 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 友盟统计需要 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>

    <application
        android:name=".ChhApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo_white"
        android:theme="@style/chh_red" >
        <activity
            android:name="com.fei_ke.chiphellclient.ui.activity.MainActivity_"
            android:label="@string/app_name"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fei_ke.chiphellclient.ui.activity.LoginActivity_" />
        <activity
            android:name="com.fei_ke.chiphellclient.ui.activity.ThreadDetailActivity_"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.chiphell.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name="com.fei_ke.chiphellclient.ui.activity.AlbumActivity_" />
        <activity android:name="com.fei_ke.chiphellclient.ui.activity.AboutActivity_" />
        <activity android:name="com.fei_ke.chiphellclient.ui.activity.SoftwareNoticesActivity" />
        <activity android:name="com.fei_ke.chiphellclient.ui.activity.SettingActivity" />

        <!-- 友盟相关 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="539dc70d56240ba62712fe72" />
        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="ChipHellForum" /> -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Baidu" />
        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="GooglePlay" /> -->

    </application>

</manifest>